body {
    margin: 0;
    font-family: 'Raleway';
    text-align: center;
}

h1 {
    background: black;
    color: white;
    margin: 0;
    margin-bottom: 30px;
    padding: 25px;
    font-size: 40px;
}

.game {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: 100px;
    margin-right: 100px;
}

.game div {
    flex-basis: 30%;
    height: 170px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.field1, .field2, .field4, .field5, .field7, .field8 {
    border-right: 10px solid black;
}

.field1, .field2, .field3, .field4, .field5, .field6 {
    border-bottom: 10px solid black;
}



